.body {
    font-family: "Roboto", sans-serif;
    background-color: #e5e5e5;
}
.top {
    background-color: rgba(236, 54, 45, 1);
    height: 69px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: center;
    align-items: center;
}
.top h1 {
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 37px;
    line-height: 43px;
}
.tela1 {
    width: 1051px;
    margin: 0 auto;
}
.criar-quizz {
    background-color: #fafafa;
    height: 181px;
    border: 1px dashed #d5d5d5;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 77px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
}
.criar-quizz h3 {
    color: #b9b9b9;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.criar-quizz button {
    width: 151px;
    height: 40px;
    background-color: #fafafa;
    color: rgba(236, 54, 45, 1);
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    border: 1px dashed rgba(236, 54, 45, 1);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 451px;
    margin-top: 20px;
}
.tela1-com-quizz{
    width: 1081px;
    margin: 0 auto;
    margin-top: 70px;
    display: flex;
}
.tela1-com-quizz h2 {
    color: #000000;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
}
.tela1-com-quizz button {
    width: 31px;
    height: 30px;
    margin-left: 17px;
    background-color: rgba(236, 54, 45, 1);
    border: 1px solid rgba(236, 54, 45, 1);
    border-radius: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.tela1-com-quizz button img {
    width: 13px;
    height: auto;
}
.escondido {
    display: none;
}

/* Inicio Listagem de Quizzes */

.ListQuizzes{
    display: flex;
    margin: 50px auto;
    width: 1050px;
    height: 377px;
    overflow-y: scroll;
}

.ListQuizzes::-webkit-scrollbar{
    display: none;
}

.QuizzRow{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.QuizzBox{
    width: 340px;
    height: 181px;
    border-radius: 5px;
    background-color: #000000;
}


/* Fim Listagem de Quizzes */